player-connection-mode=Listen
player-connection-guid=4259426907
player-connection-debug=0
player-connection-project-name=ShootingMultiplayer
player-connection-ip=192.168.68.53
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=2f1e851eb93c42e68ccc559f88248f68
