player-connection-mode=Listen
player-connection-guid=2883725174
player-connection-debug=0
player-connection-project-name=ShootingMultiplayer
player-connection-ip=192.168.68.68
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=a5ee1f5a4f0d4808ad493a62f97917f0
