player-connection-mode=Listen
player-connection-guid=3283819044
player-connection-debug=0
player-connection-project-name=ShootingMultiplayer
player-connection-ip=192.168.68.66
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=e63c29c3f59f49c7aa951d9d0e9c6468
